@charset "utf-8";
/* CSS Document */

* {
margin:0;
pading:0;
	
}

.Nav-main {
	background:rgb(0,0,0,0.5);
	height:80px;
	
}

.menu {	
	float:right;
	list-style:none;
	margin:20px;
	
}

.menu li {
	display: inline-block;
	margin:10px  5px;	
	
}

.menu li a {
	text-decoration:none;
	color:#00FFE3;
	padding:5px 10px;
	font-family:sans-serif;
	letter-spacing:2px;
	border:1px solid #fff
	
}

.menu li a:hover {
	background: #fff;
	transform:.4s;
	color: #000;
		
	
}

.welcome {
	position:relative;
	text-align:center;
	font-family:sans-serif;
	color:#fff;
	top: 160px;
	
	
}

.welcome h1 {
	font-size:42px;
	margin:25px;
	
	
}

.btn {
	border: 2px solid #fff;
	font-size:18px;
	letter-spacing:2px;
	margin: 5px;
	padding: 7px 10px;
	text-decoration: none;
	
		
}

.btn1 {
	font-size:25px;
	color:#00FFE3;
	
}

.btn1:hover {
background:white;
color:#000;
transform:.4s;
	
}

.btn2 {
	font-size:25px;
	color:#00FFE3;
	
}

.btn2:hover {
background:white;
color:#000;
transform:.4s;
	
}


canvas {
	display: table;
	vertical-align: bottom;
}

#particles-js {
	position: absolute;
	width:100%;
	height: 100%;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,100,0.5)),url(images/bg_hadi.png);
	background-size:cover;
	background-position:center;
		overflow: hidden;
}

.content {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display: table;
}

.social {
	background: transparent;
	position: fixed;
  	left: 2%;
  	bottom: 2%;
}

.social-icons {
	float: bottom left;
	border-radius: 100%;
	margin: 0px 0px 0px 20px;

}