@charset "utf-8";
/* CSS Document */

* {
margin:0;
pading:0;
	
}

body {
	background-color:#fff;	
	
}

.Nav-main {
	background:rgb(0,0,0,0.75);
	height:80px;
	
}

.menu {	
	float:right;
	list-style:none;
	margin:20px;
	
}

.menu li {
	display: inline-block;
	margin:10px  5px;	
	
}

.menu li a {
	text-decoration:none;
	color:#00FFE3;
	padding:5px 10px;
	font-family:sans-serif;
	letter-spacing:2px;
	border:1px solid #fff
	
}

.menu li a:hover {
	background: #fff;
	transform:.4s;
	color: #000;
}








.masthead-heading {
    margin-top: -0.2em;
	padding: 10px 0px 0px 440px;
    font-family: "Orbitron", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-shadow: 3px 3px 8px #00FFE3; /*h-s, v-s, blur-radius, color */
}














